@import "../../index.less";

@tab-height : 36.8px;

.right-pane-wraper {
  display: flex;
  height: 100%;
  /* height: calc(
    100vh - @header-height - @toolbar-height - @bottom-height -
      @center-bottom-height - @tab-height
  ); */
}
