@import "../index.less";

.editor {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - @header-height);
  /* padding: 1px 3px; */
  background: #fff;
}

.editorHd {
  padding: 8px;
  border: 1px solid #e6e9ed;
  height: @toolbar-height
}

.editorCd {
  flex: 1;
  height: calc(100vh - @header-height - @toolbar-height - @bottom-height);
}

.editorBd {
  flex: 1; 
  height: @bottom-height
}

.editorSidebar,
.editorContent {
  display: flex;
  flex-direction: column;
}

.editorContentBottom {
  overflow-x: hidden;
  overflow-y: hidden;
}

.editorSidebar {
  background: #fafafa;

  &:first-child {
    border-right: 1px solid #e6e9ed;
  }

  &:last-child {
    border-left: 1px solid #e6e9ed;
  }
}

.editorStateBar {
  background: #fafafa;
  height: 29px;
  &:first-child {
    border-top: 1px solid #e6e9ed;
  }

  &:last-child {
    border-bottom: 1px solid #e6e9ed;
  }
}

.flow,
.mind,
.koni {
  flex: 1;
}
