.workspace-layout {
  position: absolute;

  &-all {
    top: $header-height;
  }

  &-top {
    top: $header-height;
    position: absolute;
    left: 0;
    width: 100%;
    height: $toolbar-height;
    overflow: hidden;
  }

  &-center {
    position: absolute;
    top: $header-height + $toolbar-height;
    height: calc(
      100vh - #{$header-height} - #{$bottom-height} - #{$toolbar-height}
    );
    width: 100%;
    background-color: grey;
  }

  &-map-wraper {
    position: absolute;
    height: calc(
      100vh - #{$header-height} - #{$bottom-height} - #{$toolbar-height}
    );
    width: 100%;
    &-mapboxgl {
      height: calc(
        100vh - #{$header-height} - #{$bottom-height} - #{$toolbar-height}
      );
      width: 100%;
    }
  }

  &-left {
    position: absolute;
    width: 10px + $sidebar-width;
    height: calc(
      100vh - #{$header-height} - #{$bottom-height} - #{$toolbar-height}
    );
  }

  &-right {
    position: absolute;
    height: calc(
      100vh - #{$header-height} - #{$bottom-height} - #{$toolbar-height}
    );
    width: 100%;
  }

  &-bottom {
/*     bottom: 0px;
    position: absolute;
    width: 100%;
    height: $bottom-height;

    background: #fafafa;
  
    border-top: 1px solid #e6e9ed;
    border-bottom: 1px solid #e6e9ed; */
    
  }
}
