.edit-side-menu {
  width: 100%;
  height: 100%;
  //border-right: 1px solid $sidebar-bold-color;
  border-right: 1px solid $sidebar-bold-color;
  text-align: center;
  position: relative;
  z-index: 100;
  //background: #f4f4f4;
  background: #001529;
  &-wrapper {
    width: $sidebar-width;
    position: relative;
    display: block;
    /* top: $toolbar-height; */
    height: 100%;
    z-index: 999;
    .drawer {
      position: absolute;
      left: 0;
      z-index: 0;
      &-bg {
        display: none;
      }
      &-content-wrapper {
        padding-left: $sidebar-width;
        background: $color-white;
        border-right: 1px solid $sidebar-bold-color;
        position: absolute;
      }
      &-content {
        //background: aliceblue;
        background: transparent;
        //padding: 40px 16px;
      }
      &-content::-webkit-scrollbar {
        width: 10px;
        height: 1px;
      }
      &-content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px $sidebar-bold-color;
        background: #535353;
      }
      &-content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px $sidebar-bold-color;
        border-radius: 10px;
        background: #ededed;
      }
    }
  }
  .add {
    padding: 18px 12px;
    border-bottom: 1px solid $sidebar-bold-color;
    color:$sidebar-bold-color;
    cursor: pointer;
    line-height: 14px;
    font-size: $font-size-6;
    > i {
      margin: 0 0 8px;
    }
  }
  .other {
    width: 100%;
    position: absolute;
    bottom: 0;
    > li {
      padding: 10px 0;
      border-top: 1px solid $sidebar-bold-color;
      cursor: pointer;
      a {
        width: 100%;
        height: 100%;
        display: block;
        color: #fff;
      }
    }
  }
}

.edit-side-drawer  {

  .mapx-content-wrapper {
    width: 550px - $sidebar-width;
  }

  .drawer-mask {
    display: none;
  }

  .drawer-left.drawer-open .drawer-content-wrapper {
    box-shadow: none;
  }
}

.chart-side-drawer {
  .chart-content-wrapper {
    width: 550px - $sidebar-width;
  }

  .drawer-mask {
    display: none;
  }
  
  .drawer-left.drawer-open .drawer-content-wrapper {
    box-shadow: none;
  }
}

.other-side-drawer {
  .other-content-wrapper {
    width: 450px - $sidebar-width;
  }

  .drawer-mask {
    display: none;
  }
  
  .drawer-left.drawer-open .drawer-content-wrapper {
    box-shadow: none;
  }
}

.geometry-side-drawer {
  .geometry-content-wrapper {
    width: 600px - $sidebar-width;
  }

  .drawer-mask {
    display: none;
  }
  
  .drawer-left.drawer-open .drawer-content-wrapper {
    box-shadow: none;
  }
}

.flow-side-drawer {
  .flow-content-wrapper {
    width: 850px - $sidebar-width;
  }

  .drawer-mask {
    display: none;
  }
  
  .drawer-left.drawer-open .drawer-content-wrapper {
    box-shadow: none;
  }
}
